.action-section {
    text-align: center;
    border-top: 1px solid #c1c1c1;
    margin-top: 2px;
    padding-top: 14px;
    @media only screen and (max-width: 365px) {
        .mat-raised-button {
            font-size: 12px;
        }
    }
    button {
        margin: 0 10px;
    }
    .action-btn {
        background-color: #fafafa;
        border-radius: 15px;
        font-size: 12px;
        border: none;
        color: #212121;
        box-shadow: 0 2px 5px 0 #c1c1c1;
        text-transform: none;
        font-weight: 550;
        &:hover {
            background-color: #fff;
        }
    }
    .btn.disabled {
        pointer-events: none;
    }
    .date-checkbox {
        display: inline-block;
        padding-bottom: 10px;
        & > span {
            vertical-align: 1px;
            padding-left: 5px;
        }
    }
    .date-dropdown{
        animation: scaleIn 0.2s cubic-bezier(0.21, 0.38, 0.1, 1.22);
        transform-origin: 0 50% 0;
        select.form-control {
            display: inline-block;
            width: 25%;
            font-size: 13px;
            height: 35px;
            padding: 5px 12px;
            font-weight: 550;
            cursor: pointer;
            &:disabled {
                color: #565656;
                cursor: not-allowed;
                background-color: transparent;
                border-color: #737373;
                opacity: .4;
            }
        }
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}