<div class="action-section" *ngIf="actions && actions[1] != 'Select Date'">
  <button mat-raised-button class="action-suggestion" color="primary" *ngFor="let action of actions" (click)="sendMessage(action)" 
    >{{ action }}</button>
</div>
<div class="action-section" *ngIf="actions && actions[1] == 'Select Date'">
  <div class="date-checkbox">
    <button mat-raised-button class="action-suggestion" color="primary" [attr.disabled]="selectDate ? '' : null" (click)="sendDate()">{{actions[0]}}</button>
    <button mat-raised-button class="action-suggestion" [color]="!selectDate ? 'primary' : 'warn'" (click)="selectDate = !selectDate">{{ selectDate ? 'Cancel': 'Select Date' }}</button>
  </div>
  <div *ngIf="selectDate">
      <div class="date-dropdown">
        <mat-form-field class="action-suggestion">
          <mat-select [(ngModel)]="selectedMonth" placeholder="Month">
            <mat-option *ngFor="let month of months; let i=index" [value]="month" [disabled]="validate(i, 'month')">{{ month }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="action-suggestion">
          <mat-select [(ngModel)]="selectedYear" (ngModelChange)="yearSelected($event)" placeholder="Year">
            <mat-option *ngFor="let year of years" [value]="year" [disabled]="validate(year, 'year')">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <select class="form-control" id="year" [(ngModel)]="selectedYear" (ngModelChange)="yearSelected($event)" [attr.disabled]="disable ? '' : null">
          <option [value]="null" disabled selected>-select-</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select> -->
      </div>
  </div>
</div>