<form class="message-container" [ngClass]="{'hide-chat': disableChat}">
  <mat-form-field>
    <input matInput name="message" placeholder="Send a message" autocomplete="off" [(ngModel)]="message.content" [attr.disabled]="disableChat ? '' : null">
    
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sendMessage()" value="Send" name="send" [attr.disabled]="disableChat ? '' : null">
    <mat-icon>send</mat-icon>
    <span class="button-text">Send</span>
  </button>

</form>
<div class="bot-typing" *ngIf="botTyping">
  <div class="small-bot-icon">
    <img src="../../../assets/images/bot.png"/>
  </div>
  <div class="typing">
    <div class="typing-indicator">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>