.chatcontrol{
  // float: left;
  width: 100%;
  margin: 0;
  border: 1px solid #807e7e;
  //border-radius: 5px;
  background-color: #fff;
  //border: 1px solid transparent;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
  //box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
  //border-top: 1px solid rgba(0,0,0,.1);
  transition: background-color ease .218s,box-shadow ease .218s,border ease .218s;
  height: 20%;
  padding: 0;

  .chatinput{
    // width: 80%;
    height: 1.5rem;
    margin: 1rem 0.7rem 0; 
    border-bottom: 1px solid green;
    font-size: 0.7rem;
    line-height: 1;
    // float: left;
    // border-radius: 0;
  }

  .sendbtn{
    // width: 20%;
    // float: left;
    // border-radius: 0;
    margin-top: 1rem;
    text-transform: uppercase;
  }

  
}


.message-container{
  height: 14%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 14px;
  border-top: 1px solid #dedede;
  background: #ffffff;
  & > .mat-input-container {    
    flex: auto;
    padding-right: 14px;
    input {
      font-size: 17px;
    }
  }
  .mat-input-container, .mat-raised-button {
    height: 40px;
  }
  span.button-text {
    font-size: 18px;
    vertical-align: -3px;
  }
}

.bot-typing {
  position: absolute;
  left: 14px;
  bottom: 15%;
  z-index: 999;
  .small-bot-icon {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #c1c1c1;
    img {
      width: 25px;
    }
  }
  .typing {
    display: inline-block;
    .typing-indicator {  
      height: 27px;
      width: 52px;
      background-color: #dedede;
      will-change: transform;
      //width: auto;
      border-radius: 50px;
      padding: 7px;
      display: table;
      margin: 0 auto;
      animation: 2s bulge infinite ease-out; 
      display: flex; 
      span {
        height: 8px;
        width: 8px;
        float: left;
        margin: 0 1px;
        background-color: #9E9EA1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;
        align-self: center;
        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            animation: 1.2s blink infinite ($i * .3333s);
          }
        }
      }
    }
  }
}

.hide-chat{
  display: none !important;
}


@keyframes blink {
  50% {
    opacity: 1;
    height: 11px;
    width: 10px;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
