<li class="talk-bubble tri-right round right-in bot-bubble left-bubble" *ngIf="message.avatar == 'bot' ">
  <div class="chat-icon">
    <img src="../../../assets/images/bot.png"/>
  </div>
  <div class="talktext">
    {{message.content}}
    <div class="timeform">
      <span class="timestamp">at {{message.timestamp | date : 'shortTime' }}</span>
    </div>
    <div>
        <suggestion-button-group [actions]="message?.actions" (actionResponse)="getResponse($event)"></suggestion-button-group>
    </div>
  </div>
  
</li>
<li class="talk-bubble tri-right round right-in right right-bubble" *ngIf="message.avatar == 'user' ">
  <div class="talktext">
    {{message.content}}
    <div class="timeform">
      <span class="timestamp">at {{message.timestamp | date : 'shortTime' }}</span>
    </div>
  </div>
  <div class="chat-icon">
    <img src="../../../assets/images/user2.ico"/>
  </div>
</li>