

// .tri-right.border.right-in:before {
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: -40px;
//   top: 30px;
// 	bottom: auto;
// 	border: 20px solid;
// 	border-color: #666 transparent transparent #666;
// }
// .tri-right.right-in:after{
// 	content: ' ';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
//   left: auto;
// 	right: -20px;
//   top: 38px;
// 	bottom: auto;
// 	border: 12px solid;
// 	border-color: lightyellow transparent transparent lightyellow;
// }
.talk-bubble {
  //margin: 1rem;
  margin: 14px;
  display: inline-block;
  position: relative;
	width: 80%;
	height: auto;
  //background-color: #cfd8dc;
  color: #000;
  //box-shadow: 0 3px 6px 0 rgba(0,0,0,0.26);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  animation: scaleIn 0.2s cubic-bezier(0.21, 0.38, 0.1, 1.22);
  transform-origin: 0 50% 0;
  
  .chat-icon {
    display: inline-block;
    border-radius: 50%;
    height: 65px;
    box-shadow: 2px 2px 6px #c1c1c1;
    img {
      width: 65px;
    }
  }
  
  .talktext{
    position: relative;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
    display: inline-block;
    width: 77%;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #c1c1c1;
    margin-bottom: 5px;
    font-weight: 500;
    color: #484848;
    .timeform {
      padding-top: 5px;
      font-size: 10px;
      color: #a5a5a5;
    }
    p{
      /* remove webkit p margins */
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
  }

  &.left-bubble {
    & > .talktext {
      background: #ffffff;
      margin-left: 15px;
      &::after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -10px;
        right: auto;
        top: 25px;
        bottom: auto;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ffffff;
      }
    }
  }
  &.right-bubble {
    float: right;
    justify-content: flex-end;
    & > .talktext {
      background: #cfd8dc;
      margin-right: 15px;
      width: 73%;
      &::after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -9px;
        top: 25px;
        bottom: auto;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        border-left: 10px solid #cfd8dc;
      }
      & > .timeform {
        color: #5a5a5a;
      }
    }
    
    & > .chat-icon {
      margin-right: 3px;
    }
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


@media only screen and (max-width: 520px) { 
  .talk-bubble {
    width: 95%;
    &.right-bubble {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 365px) { 
  .talk-bubble {
    .chat-icon {
      height: 40px;
      img {
        width: 40px;
      }
    }
    .talktext {
      &::after {
        top: 11px !important;
      }
    }
    &.right-bubble {
      .talktext {
        &::after {
          top: 11px !important;
        }
      }
    }
  }
}
