.header {
    position: fixed;
    z-index: 9999;
    height: 65px;
    max-height: 65px;
    box-shadow: 0 3px 5px #c1c1c1;
  }
  .flex-container-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    height: 100%;
    .flex-item-side {
      flex: 350px;
      width: 25%;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      &:first-child{
        max-width: 25%;
      }
      &.json-box {
        max-width: 25%;
        min-width: 25%;
        overflow-y: unset;
      }
      .json-header {
        position: absolute;
        top:0;
        z-index: 999;
        h3 {
          font-weight: 500;
          color: #f1f1f1;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .info-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: calc(100% - 185px);
        .logo-section {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid #dedede;
          box-shadow: 0 2px 4px #dedede;
          img {
            max-width: 340px;
          }
        }
      }        
    }
    
    .flex-item-middle {
      //flex: 350px;
      width: 50%;
    }
    @media only screen and (max-width: 1279px) {
      .flex-item-side {
        &:first-child{
          display: none;
        }
      }
      .flex-item-middle {
        width: 75%;
      }
    }
    @media only screen and (max-width: 1000px) {
      .flex-item-side {
        display: none;
      }
      .flex-item-middle {
        width: 100%;
      }
    }
    .chat-box {
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;    
      position: relative;
      .chat-header {
        position: absolute;
        top:0;
        z-index: 999;
        box-shadow: 0px 4px 8px #c1c1c1;
        h3 {
          font-weight: 500;
          color: #f1f1f1;
          font-size: 25px;
          overflow: hidden;
          text-overflow: ellipsis;  
        }
      }
    }
  }
  

  
  