<section class="flex-container-row-wrap page">
  
    <div class="flex-item-side">
      <div class="info-section">
        <div class="logo-section">
          <img src="../assets/images/full-logo.PNG"/>
        </div>
      </div>
      <div class="info-text">
          
          I'm Eagle Hawk, a virtual recruiting assistant from Allbirds. I will help you get one step closer to your dream job by gathering additional information required for the job profile you have applied for!
      </div>
    </div>
    <div class="flex-item-middle chat-box">
        <mat-toolbar class="chat-header" color="primary">
            <mat-toolbar-row style="justify-content: center;">
              <h3>ChatBot</h3>
            </mat-toolbar-row>
          </mat-toolbar>
          <!-- <button type="button" class="close close-btn" aria-label="Close" (click)="hideChat = true"><span aria-hidden="true">&times;</span></button> -->
        <message-list [messages]="messages" [chatEnd]="hideChat" (actionResponse)="getResponse($event)"></message-list>
        <message-form [message]="message" [messages]="messages" [actionResponseData]="actionResponseData" (jsonResponse)="getJsonData($event)" (hideChat)="hideChatInput($event)" (disableSuggestions)="disableSuggestionButton($event)"></message-form>
    </div>
    <div class="flex-item-side json-box">
        <mat-toolbar class="json-header" color="primary">
          <mat-toolbar-row style="justify-content: center;">
            <h3>Conversation & Interpretation History</h3>
          </mat-toolbar-row>
        </mat-toolbar>
        <!-- <json-view [jsonData]="jsonData"></json-view> -->
    </div>
  </section>
  <div style="position: absolute; top: 600px; visibility: hidden;"><img src="../assets/images/user2.ico" /></div>