.chatlist{
  height: 86%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: inset 0 -4px 10px #dedede;
  background: #eaecec;
  .list-group {
    padding: 65px 0 40px;
  }
}

.full-height {
  height: 100% !important;
}



