<div class="chatlist" #chatlist [ngClass]="{'full-height': chatEnd}">
  <ul class="list-group">
    <message-item *ngFor="let msg of messages" [message]="msg" (actionResponse)="getResponse($event)"></message-item>
  </ul> 
</div>
