/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

body     
  height: 100vh
  overflow: hidden
  margin: 0


@import '~@angular/material/theming'

@include mat-core()

$primary: mat-palette($mat-teal, 700)
$accent: mat-palette($mat-teal, 700)

$theme: mat-light-theme($primary, $accent)

@include angular-material-theme($theme)

::-webkit-scrollbar 
  width: 6px


::-webkit-scrollbar-track 
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) 
  // border-radius: 5px
  visibility: hidden


::-webkit-scrollbar-thumb 
  border-radius: 5px
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) 




// mat-toolbar, button 
//   &.mat-primary 
//     background: #1ba261 !important
    
//   &.mat-raised-button.mat-primary[disabled] 
//     background-color: rgba(0, 0, 0, 0.12) !important 
  


button.action-suggestion 
  &.disabled 
    background-color: rgba(0, 0, 0, 0.12) !important 
    pointer-events: none !important
    box-shadow: none !important
    color: #c1c1c1 !important
    cursor: not-allowed
  


mat-form-field.action-suggestion 
  &.disabled 
    pointer-events: none !important
    cursor: not-allowed
    mat-select 
      .mat-select-value 
        color: #c1c1c1 !important
      
    

  


.page   
  -webkit-animation: slidein-from-right2 0.5s
  animation: slidein-from-right2 0.5s


@-webkit-keyframes slidein-from-right2 
  from 
      opacity: 0
      -webkit-transform:translateX(100%)
  
  to 
      opacity: 1
      -webkit-transform:translateX(0%)
  


@keyframes slidein-from-right2 
  from 
      opacity: 0
      -webkit-transform:translateX(100%)
  
  to 
      opacity: 1
      -webkit-transform:translateX(0%)
  


.info-text 
  padding: 25px 20px 35px
  height: 125px
  position: absolute
  bottom: 0
  text-align: justify
  line-height: 20px
  overflow: hidden
  color: #797979
  font-size: 15px
  border-top: 1px solid #dedede     
  overflow-y: auto   
  

